<p style="color: green"><%= notice %></p>

<div>
  <h1>Users</h1>

  <%= form_with url: users_path, method: :get do |form| %>
    <%= form.text_field :search, value: @search, placeholder: 'search by username or email' %>
    <%= button_tag 'Search', type: 'submit' %>
  <% end %>

  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= render "user_row", user: user %>
      <% end %>
    </tbody>
  </table>
</div>
